
.news{
    height: auto;
    padding: 5px;
}
.article {
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align:top;
}
.thumb {
    width: auto;
    height: 100vh;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
} 
/* ------------------------------------------------------------------------------------------ */

.price{
    padding: 8px 30px;
    background: #202741;
    border-radius: 19px;
    color: white;
    text-align: center;
    vertical-align: middle;
}
.Highlights .container{
    width: 29vw;
    padding-left: 80px;
    padding-top: 60px;
}
.Highlights .TenMon{
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.7px;
    color: #100E0B;
    margin: 20px 0;
}
.Highlights .deserts{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.15px;
    color: #A4A8B2;
    margin: 0;
}
.Highlights .note{
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1625px;
    color: #85878C;
    margin: 0;
}
.Highlights .bgr-green{
    background: #57A773;
}
.dauchamtron{
    padding: 0px 7.5px;
    border-radius: 10px;
    margin: 0;
    height: 15px;
}
.Highlights .thongtinthem >td{
    width: 10vw;
    padding-top:45px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.15px;
    color: #A4A8B2;
}
.Highlights .thongtinthem-color_green{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.2px;
    color: #57A773;

}
/* ---------------------------------------------------------------------------------------------- */
.tieu-de-recommend{
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.6px;
    color: #100E0B;
}
.anh-minh-hoa{
    width: 21.5vw;
    height: 35vh;
}
.anh-minh-hoa_order{
    width: 20vw;
    height: 25vh;
}
.recommend_Featured-meal{
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.225px;
    color: #100E0B;
}
.recommend_caption{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.15px;
    color: #A4A8B2;
    margin-top: 0;
}
.recommend_note{
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1625px;
    color: #85878C;
}
.order{
    box-shadow: inset 1px 0px 0px rgba(214, 214, 214, 0.5), inset -1px 0px 0px rgba(214, 214, 214, 0.5), inset 0px 1px 0px rgba(214, 214, 214, 0.5);
border-radius: 0px 8px 8px 0px;
}
.order_recommend_Featured-meal{
    font-size: 32px;
    line-height: 37px;
    letter-spacing: -0.4px;
    color: #100E0B;
    margin: 0;
    padding-top: 10px;
}
.col-3 .container{
    width: 20vw;
}
.col-3 .canhgiua{
    padding: 10px;
    width: 20vw;
}
.bd_radius{
    border: 1px solid #DCDCDC;
    border-radius: 43px;
    padding: 10px 35px ;
    background: #FFF;
}
.margin-top-bot{
    margin: 20px 0px;
}
.ba-cham{
    border: 1px solid #DCDCDC;
    padding: 3px 11px;
    border-radius: 20px;
}
.bar{
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 0px 0px 8px 8px;
    padding: 6px 20px;
    width: 21.5vw;
}
.bar-order{
    width: 25vw;
}
.bar .padding-left-28{
    padding-left: 28px;
}
.bar .padding-left-135{
    padding-left: 135px;
}
.bar .so-lieu{
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.1625px;
    color: #A4A8B2;
    margin: 0;

}