body{
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: HelveticaNeue;
}
.container{
    margin: 0px auto;
    width: 80vw;
}
.row{
    display: flex;
}
.col-4{
    width: 33.333333333vw;
}
.col-8{
    width: 66.666666666vw;
}

ul {
    list-style: none;
    }

header{
    margin: 0px;
    padding: 0;
}
.header{
    height: 60px;
    background-color:white;
}
.header .fixed{
    position: fixed;
}
.header .logo{
    padding: 18px 35px;
}
.header .icon{
    padding: 15px 0px 15px 40px;
}
.header .canhphai{
    justify-content: flex-end;
}
.header .thanhcongcu {
    font-family: HelveticaNeue;
    font-size: 13px;
    line-height: 15px;
    margin: auto;
    padding-left: 220px;
}
.header .thanhcongcu .row >li{
    /* tại sao .header >li   hoặc .header .thanhcongcu >li không đc. mà .row mới đc */
    padding-right: 30px;
}
.header .green{
    color: #57A773;
}

/* ------------------------------------------------------------------------------------------------------- */
.menu{

}
.col-4 .menu >li{
    font-size: 13px;
    line-height: 29px;
    color: #959EA6;
}
.col-4 .menu .tieude{
    font-size: 16px;
line-height: 19px;

color: #100E0B;
}




/* -------------------------------------
.Box{
    height: 60vh;
    width: 66.66666666vw;
}
.Box-bg{
    background-image: url(./anh7.png);
    background-size: 100%;
}
-------------------------------------------- */

footer{
    background-color: #fff;
    width: 100vw;
    padding:  2vh 0px;
    box-shadow: inset 0px 1px 0px rgba(179, 179, 179, 0.5);
}

footer .container{
    width: 80vw;
}
footer .cmt1,
        .cmt2{
        font-size: 12px;
        line-height: 14px;
        color: #959EA6;
}
.cmt1{
    text-align: left;
}
.cmt2{
    margin: auto;
    margin-inline-end: 0;
}