body{
    margin: 0;
    padding: 0;
    
    font-family: HelveticaNeue;
}
.container{
    margin: 0px auto;
    width: 90vw;
}
.row{
    display: flex;
}
.col-4{
    width: 33.333333333vw;
}
.col-8{
    width: 66.666666666vw;
}

ul {
    list-style: none;
    }

header{
    margin: 0px;
    padding: 0;
}
.header{
    height: 60px;
    background-color:white;
}
.header .fixed{
    position: fixed;
}
.header .logo{
    padding: 18px 35px;
}
.header .icon{
    padding: 15px 0px 15px 40px;
}
.header .canhphai{
    margin: 0px 100px;
    justify-content: flex-end;
}
.header .thanhcongcu {
    font-family: HelveticaNeue;
    font-size: 13px;
    line-height: 15px;
    margin: auto;
    padding-left: 220px;
}
.header .thanhcongcu .row >li{
    /* tại sao .header >li   hoặc .header .thanhcongcu >li không đc. mà .row mới đc */
    padding-right: 30px;
}
.header .green{
    color: #57A773;
}

/* ------------------------------------------------------------------------------------------------------- */
.menu{

}
.col-4 .menu >li{
    font-size: 13px;
    line-height: 29px;
    color: #959EA6;
}
.col-4 .menu .tieude{
    font-size: 16px;
    line-height: 19px;
    color: #100E0B;
}
.col-4 .menu .line{
    border-bottom: 1px solid;;
    border-color: #57A773;
    width: 50px;
    padding: 20px 0px 20px 0px;
}
.col-4 .khoangcach{
    height: 20px;
}
.kobiettengi{
    padding: 8px 0px;
}
.col-4 .bd_radius{
    background: #FFFFFF;
    border: 2px solid #d4d4d4;
    border-radius: 38px;
    padding: 18px;
    width: 255px;
}
.submit-bd_radius{
    background: #57A773;
    border-radius: 43px;
    padding: 18px;
    margin-top: 20px;
    width: 300px;
}
.email{
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    letter-spacing: -0.2px;
    color: #1B1916;
    mix-blend-mode: normal;
    opacity: 0.5;
    
}
.col-4 .line{
    border-bottom: 1px solid;;
    border-color: #57A773;
    width: 50px;
    width: max-content;
    padding: 20px 0px 20px 0px;
}
.user{
    align-items: center;
    padding: 20px 0px;
    padding-left: 50px;
}
.bd-none{
    border: none;
    align-items: center;
}

/* -------------------------------------
.Box{
    height: 60vh;
    width: 66.66666666vw;
}
.Box-bg{
    background-image: url(./anh7.png);
    background-size: 100%;
}
-------------------------------------------- */

footer{
    background-color: #fff;
    /* width: 100vw; */
    padding:  2vh 0px;
    box-shadow: inset 0px 1px 0px rgba(179, 179, 179, 0.5);
}

footer .container{
    width: 80vw;
}
footer .cmt1,
        .cmt2{
        font-size: 12px;
        line-height: 14px;
        color: #959EA6;
}
.cmt1{
    text-align: left;
}
.cmt2{
    margin: auto;
    margin-inline-end: 0;
}